.explore-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.explore-menu h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}
.explore-menu-text {
  max-width: 60%;
  color: #666;
}
.explore-menu-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  overflow-x: scroll;
  text-align: center;
  margin: 20px 0px;
}
.explore-menu-list::-webkit-scrollbar {
  display: none;
}
.explore-menu-list-item img {
  width: 7.5vw;
  min-width: 80px;
  cursor: pointer;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.explore-menu-list-item p {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
  cursor: pointer;
}
.explore-menu hr {
  margin: 10px 0px;
  height: 2px;
  background-color: chartreuse;
  border: none;
}
