.header {
  height: 34vw;
  margin: 30px auto;
  background: url("/header_img.png") no-repeat;
  background-size: contain;
  position: relative;
}
.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 2s ease-in-out;
}
.header-contents h2 {
  font-size: 3.5vw;
  color: whitesmoke;
  font-weight: 600;
}
.header-contents p {
  font-size: 1.5vw;
  color: white;
  font-weight: 500;
}
.header-contents button {
  padding: 0.8vw 2vw;
  font-size: 1.2vw;
  background-color: #ff3c00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
