.footer {
  color: rgb(16, 14, 16);
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 8vw;
  padding-top: 80px;
  margin-top: 100px;
}
.footer-content {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 50px;
}
.footer-content-left,
.footer-content-right,
.footer-content-center {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.footer-content-left li,
.footer-content-right li,
.footer-content-center li {
  list-style: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.footer-content-right h2,
.footer-content-center h2 {
  color: rgb(78, 7, 7);
}
.footer-social-icons img {
  width: 40px;
  margin-right: 15px;
}
.footer hr {
  width: 90%;
  border: 0.5px solid rgb(78, 7, 7);
  height: 2px;
}
